.title {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    color: white;

    &__icon:hover {
        animation:rotate-scale-up 0.4s linear both;
        color: rgb(210 194 224 / 78%);
    }
}

@keyframes rotate-scale-up{
    0% {transform:scale(1) rotateZ(0)}
    50%{transform:scale(2) rotateZ(180deg)}
    100%{transform:scale(1) rotateZ(360deg)}
}