.login-page {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../assets/img/cozy_home.jpg');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
}

